<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="AdminLoginID" value="admin"/>
    <add key="AdminPassword" value="admin"/>

    <add key="NameOfShop" value="Klondayk"/>
    <add key="Description" value="The best shop ever"/>
    <add key="Telefon" value="+000-000-00-00"/>
    <add key="Kontakty" value="Kiev, Respublikanskiy Stadion 1"/>

    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Port" value="587"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"  />
  </system.web>
</configuration>
