<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AdminLoginID" value="admin"/>
    <add key="AdminPassword" value="admin"/>

    <add key="NameOfShop" value="Klondayk"/>
    <add key="Description" value="The best shop ever"/>
    <add key="Telefon" value="+000-000-00-00"/>
    <add key="Kontakty" value="Kiev, Respublikanskiy Stadion 1"/>

    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Port" value="587"/>
  </appSettings>
  
  <connectionStrings>
    <add name="MyConnection" connectionString="workstation id=Magic123.mssql.somee.com;packet size=4096;user id=zen;pwd=futureproject;data source=Magic123.mssql.somee.com;persist security info=False;initial catalog=Magic123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off"/>
  </system.web>
</configuration>