 .buttons
{
	box-shadow:-1px 2px 2px rgba(0,0,0,0.28);
	-webkit-box-shadow:-1px 2px 2px rgba(0,0,0,0.28);
	-moz-box-shadow:-1px 2px 2px rgba(0,0,0,0.28);
	border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
}

.btn
{
	/*background:transparent -moz-linear-gradient(center top,#7A7AFF,#444) repeat scroll 0 0;*/
background: #7a7aff;
background: -moz-linear-gradient(top, #7a7aff 0%, #444444 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #7a7aff), color-stop(100%, #444444));
background: -webkit-linear-gradient(top, #7a7aff 0%, #444444 100%);
background: -o-linear-gradient(top, #7a7aff 0%, #444444 100%);
background: -ms-linear-gradient(top, #7a7aff 0%, #444444 100%);
background: linear-gradient(to bottom, #7a7aff 0%, #444444 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7aff', endColorstr='#444444', GradientType=0 );
}

.title
{
	margin-top:30px;
}

h1
{
	padding:0;
	margin:0;
	width:300px;
	display:inline;
}

.phone
{
	margin:0 2px 0 0;
	float:left;
	padding:0;
	width:30px;
	height:24px;
	background-image:url(/images/phone.png);
	display:inline-block;
}

.phon1
{
	font-size:25px;
	font-weight:700;
	padding:7px;
	width:300px;
	margin:7px;
	border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
	background-color:rgba(255,255,255,0.85);
	border-color:red;;
	display:inline-block;
}

* html .categoriesstyle{min-height:100%;
	height:100%;
}
body
{
	background:#A5B9CD url(/images/texture.png) repeat scroll 50% 0;
	margin:0;
	padding:0;
	
}

.stylus
{
	text-decoration:none;
}

.stylus:hover
{
	font-size:larger;
	border-bottom:1px solid #CDCDCD;
	margin:0;
	padding:0;
}

.style1
{
	width:990px;
	background-color:#A5B9CD;
	border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
	
}

.productstyle
{
	width:800px;
	text-align:left;
}

.categoriesstyle
{
	width:240px;
	text-align:center;
	text-decoration:none;
}

.style4
{
	background-color:#A5B9CD;
	width:205px;
	text-align:center;
}

.style6
{
	width:460px;
	text-align:left;
}

.style7
{
	width:427px;
	text-align:center;
}

.style8
{
	width:108px;
	text-align:center;
}

.writeme
{
	border:0 ridge #FF0;
	overflow:hidden;
	background-color:rgba(0,0,0,0.65);
	color:#333;
	cursor:default;
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	font-family:Arial,sans-serif;
	height:500%;
}

.overlay
{
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:10;
	display:none;
	background-color:rgba(0,0,0,0.65);
	position:fixed;
	cursor:default;
}

.overlay:target
{
	display:block;
}

.popup
{
	border:2px solid Gray;
	top:20%;
	right:30%;
	left:30%;
	font-size:14px;
	z-index:99999;
	margin:auto;
	width:400px;
	min-width:320px;
	max-width:600px;
	position:fixed;
	padding:0 0 15px 15px;
	background:#fefefe;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	font:14px/18px Tahoma ,Arial,sans-serif;
	-webkit-box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow:0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-webkit-transform:translate(-50%,-500%);
	-webkit-transition:-webkit-transform .6s ease-out;
	-moz-transition:-moz-transform .6s ease-out;
	-o-transition:-o-transform .6s ease-out;
	transition:transform .6s ease-out;
}

.menuli
{
	background:#999;
}

.menuli ul
{
	background:#999;
	float:left;
	list-style:none;
}

.menuli li
{
	float:left;
	font-family:Bebas;
	font-size:14px;
	border-left:1px solid #b4b4b4;
	text-transform:uppercase;
	padding:12px 18px;
}

.menuli li:first-child
{
	float:left;
	font-family:Bebas;
	font-size:14px;
	border-left:none;
	text-transform:uppercase;
	padding:12px 18px;
}

.menuli li a
{
	color:#2d2d2d;
	text-decoration:none;
	text-shadow:0 1px 1px #FFF;
}

.menuli li a:hover
{
	text-decoration:underline
}

a.activ
{
	color:#fff!important;
	text-shadow:none!important;
}
/*#pageall
{
    visibility:hidden;
}*/
#lblLogo
{
    text-decoration:none;
    }
